//reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width:100%; 
  font-size: 14px;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.6;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 800px;
    width: 100%;
  }
}
@media (max-width: 640px) {
  .container {
    width: 100%;
    padding: 48px;
  }
}
.img-fluid {
  width: 100%;
}
.top {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  padding: 8px 16px;
  a {
    color: #333;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 8px 16px;
    transition: all 0.3s;
    &:hover {
      background: #b7b3b3;
      color: #fff;
    }
  }
  > div {
    display: flex;
    gap: 32px;
    @media screen and (max-width: 640px) {
      display: none;
    }
  }
}
header {
  position: relative;
  height: 80vh;
  background: url('../img/architect.jpg') center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 48px!important;
  > div {
    position: absolute;
    width: 240px;
    height: 90px;
    top: 45%;
    left: calc((100% - 240px) / 2);
  }
  h1 {
    display: flex;
    color: white;
    letter-spacing: 4px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    >span:nth-child(1) {
      b {
        color: white;
        background: black;
        opacity: 0.75;
        padding: 4px 16px;
        font-weight: 700;
      }
    }
    >span:nth-child(2) {
      font-weight: 400;
      @media screen and (max-width: 640px) {
        display: none;
      }
    } 
  }
}

#projects, #about, #contact, #contact-list {
  margin-bottom: 48px!important;
  > h3 {
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(243, 242, 242);
    margin-bottom: 16px;
    @media screen and (max-width: 640px) {
      margin-bottom: 36px;
    }
  }
}

.row-padding {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  @media (min-width: 641px) {
    gap: 12px;
  }
  > div {
    width: calc(100% * (1/4) - 12px);
    margin-bottom:12px;
    @media screen and (max-width: 640px) {
      margin-bottom: 24px;
    }
    img {
      width: 100%;
    }
    @media (max-width: 1024px) {
      width: calc(100% * (1/3) - 12px);
    }
    @media (max-width: 640px) {
      width: calc(100%);
    }
  }
}
#projects{
  .projects-wrap {
    .row-padding {
      > div {
        position: relative; 
        img {
          height: 100%;
          object-fit: cover;
        }
        div {
          position: absolute;
          padding: 12px;
          color: white;
          background: black;
        }
      }
    }
  }
}

#about {
  p {
    margin-bottom: 32px;
  }
  .row-padding {
    >div {
      h3 {
        font-weight: 500;
        font-size: 25px;
        margin-top: 24px;
      }
      .position {
        color: #696969;
        margin-bottom: 16px;
        margin-top: 16px;
      }
      button {
        display: flex;
        width: 100%;
        border: none;
        padding: 16px;
        justify-content: center;
        transition: all 0.3s;
        &:hover {
          background: #b7b3b3;
          color: #fff;
        }
      }
    }
  }
}

#location {
  margin-bottom: 48px !important;
}

#contact {
  form {
    margin-top: 16px;
    input {
      width: 100%;    
      padding: 12px;
      font-size: 14px;
      color: #767676;
      border: 1px solid #ccc;
      margin-bottom: 16px;
    }
    input[type='submit'] {
      width: auto;
      background-color: #000;
      color: white;
      border: none;
      text-transform: uppercase;
      margin-top: 8px;
      transition: all 0.3s;
      &:hover {
        background: #b7b3b3;
        color: #fff;
      }
    }
  }
}

#contact-list {
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table tr {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table th,
  table td {
    padding: 8px;
    text-align: left;
  }
  tbody {
    tr:nth-child(even) {
      background-color: #f1f1f1;
    }
  }
}

footer {
  background: black;
  display: flex;
  justify-content: center;
  p {
    padding: 12px;
    color: white;
  }
}